<main class="mt-5">
  <!--Main container-->
  <div class="container">
  <!--Grid row-->
  <div class="row">
  <div class="col-md-12">
  <header class="header header--section">
    <h2 class="text-middle">
      <i class="icon-movie color-gray-light"></i>Mash Upとは？
    </h2>
  </header>


    <section class="sectionBox" id="anc2">
    <div class="sectionBox__inner">
    <h2 class="sectionBox__h2__type1">海外インターンシップのメリット</h2>
    <p class="sectionBox__img taC">
      <img class="pc" src="../img/feature/image_02.jpg" alt="">
      <img class="sp" src="../img/feature/image_02_sp.jpg" alt="">
    </p>
    <h3 class="sectionBox__h3__type1">海外インターンシップとは？</h3>
    <p>”海外インターンシップ”とは、海外の企業で一定期間、実践経験を積むことをいいます。会社の規模、分野も多種多様。数多くの企業がインターン生を迎え入れています。 
      <br>
      <br>日本国内のインターンシップは”サマーインターン”を代表に1日&#12316;1週間程度の短期間が多く表面的と言われてますが、海外のインターンシップの場合は2週間&#12316;1年間と比較的長い期間、実践的なビジネスに携わることが出来るのが特長です。 
    </p>
    <h3 class="sectionBox__h3__type1">注目されつつある新興国での海外インターンシップ</h3>
    <p>タイモブのインターンは大部分が新興国です。なぜ今新興国なのか、エネルギーや躍動感に溢れた新興国の状況を一部お伝えします。</p>
    <div class="stateBox">
    <ul class="stateBox__wrap">
      <li>
        <p class="stateBox__img">
          <img src="../img/feature/natioflag_india.png" alt="">
          <br>インド 
        </p>
        <div class="stateBox__textBox">
        <p class="stateBox__textBox__title no01 bold">【インドの状況】</p>
        <p>Google、マイクロソフト、ドイツ銀行、マスターカード、ペプシ、そして日本ではソフトバンク等グローバル企業の経営幹部にインド出身者が抜擢。また、理系最高峰の大学であるインド工科大学（IIT）卒業生がイノベーションを起こそうとスタートアップを続々と起業しています。</p>
        </div>
      </li>
      <li>
        <p class="stateBox__img">
          <img src="../img/feature/natioflag_vietnam.png" alt="">
          <br>ベトナム 
        </p>
        <div class="stateBox__textBox">
        <p class="stateBox__textBox__title no02 bold">【ベトナムの状況】</p>
        <p>三菱自動車、トヨタ自動車、スズキ、ダイハツ、味の素、花王、ワコール、松下電器、ソニー、東京海上日動、損保ジャパンなど、多くの日本企業が進出。勤勉で親日であるという国民性、そして若い労働力がある、という理由から大手日本企業のみならず、若手日本人起業家も次々とベトナムに進出しています。</p>
        </div>
      </li>
      <li>
        <p class="stateBox__img">
          <img src="../img/feature/natioflag_malaysia.png" alt="">
          <br>マレーシア
        </p>
        <div class="stateBox__textBox">
        <p class="stateBox__textBox__title no03 bold">【マレーシアの状況】</p>
        <p>まだまだ、進出・展開の可能性が大きいイスラム市場のマレーシア。「アセアンの優等生」と呼ばれるマレーシアは、シンガポールに次いで経済成長を遂げています。特に、高所得のムスリムが増えており、ハラルフードなど、イスラム市場の開拓に向けて世界各国から注目を浴びています。</p>
        </div>
      </li>
    </ul>
    </div>
    <p class="note">海外インターンシップというと、欧米でのインターンシップがイメージされますが、タイモブでは伸びているマーケットに身をおいてほしいという想いをもとにアジア新興国を中心にアフリカや南米等のインターンシップを提供しています。</p>
    <p class="note">海外というアウェイな環境で、語学やスキルの壁にぶつかりながらトライアンドエラーで実績を積む。海外インターンシップで得られることはたくさんありますが、下記いくつかメリットをあげます。</p>
    <div class="subBox">
    <p class="subBox__title">海外インターンシップのメリット</p>
    <ul>
      <li>● 成長マーケットに身を置き、国際企業の魅力や競争力を現場で体験する</li>
      <li>● グローバル・スタンダードを知る。価値観の異なる人々と働く事によって視野を広げる</li>
      <li>● なんとかする。やりきる。成功体験を積むことで自信をつける</li>
      <li>● 異国の同世代との出会い、各国で活躍する日本人との出会い、 海外ネットワークを形成する</li>
      <li>● 客観的に日本を見る、アイデンティティを持つ</li>
      <li>● 自分の力を試す。スキルやマインドを高める</li>
      <li>● 「海外で働く」とはどういうことか、リアルを知り、想像と現実のギャップを埋める</li>
    </ul>
    </div>
    <p class="note">企業の社風や事業内容によってインターンシップの内容や裁量権が異なるので、自分に合ったインターンシップを選ぶことが重要です。 
      <br>
      <br>タイガーモブでは、自分がやりたいことや今やっていること、理想と現実のギャップを元に海外インターンシップでやるべきことを共に見出し、将来の夢に一歩近づくための海外インターンシップを実践して頂きます。 
    </p>
    <div class="convBox">
      <p class="bold">会員登録して魅力的なインターン情報をGET！ 
        <br>登録後、各インターン・イベントへの 
        <br class="sp">エントリーが可能となります。 
      </p>
      <a href="/member/">新規会員登録（無料）</a>
    </div>
      <p class="note bold">
        <a href="/internship/">期間／国／やりたいことから海外インターンシップを見つけたい方はこちら</a>
      </p>
      <p class="note2 bold">
        <a href="/internship/consult/0" target="_blank">タイモブスタッフに相談して自分に合ったインターン先を見つけたい方はこちら</a>
      </p>
    </div>
  </ul>
  </section>
  </ul>
  </div>
  </div>
  </div>
  </div>
</main>