<div id="main_cnt_wrapper">
<div id="yjContentsBody">
<div class="yjContainer">
<span class="yjGuid">
  <a id="yjContentsStart" name="yjContentsStart"></a>
  <img alt="ここから本文です" height="1" src="http://i.yimg.jp/yui/jp/tmpl/1.1.0/audionav.gif" width="1">
</span>
<div id="yjMain">
<article class="section">
  <div class="container">
  <header class="header header--section">
    <h2 class="text-middle">
      <i class="icon-movie color-gray-light"></i>タイモブとは？
    </h2>
  </header>
  <ul class="thumbnails thumbnail--movies row grid4 js-lazy-load-images js-my-check-stats" id="list-module">
    <section class="sectionBox" id="anc1">
      <div class="sectionBox__inner">
      <h2 class="sectionBox__h2__type1" style="margin-bottom:60px;">タイガーモブの
        <br class="sp">海外インターンが選ばれる理由
      </h2>
      <div class="sectionBox__img taC video">
     <iframe width="560" height="315" src="https://www.youtube.com/embed/4fi0UnmZS-o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <p class="copyTxt1">タイガーモブは、アジア新興国を中心にアフリカや南米等急成長する市場で海外インターンシップに挑戦する機会を提供しています。人によってやってきたこと・やりたいことは異なり、その経緯や目的によって海外インターンシップで挑戦するべきことも異なってきます。
        <br>私たちは、世界35カ国の多種多様で実践的なビジネスインターンシップを提供することを通して、時代を牽引するリーダーを輩出します。
      </p>
      <h3 class="sectionBox__h3__type2">
        <span class="num">1</span>
        <span class="body">世界35カ国、約250件の海外特別オファー</span>
      </h3>
      <p>タイガーモブでは、急成長するアジア新興国を中心に、アフリカ、南米、中東等世界各国でのインターン先を提供しています。受け入れ先企業の規模や分野は多種多様。裁量権の大きいスタートアップやベンチャー企業を中心に、出来る限り皆様のニーズにお答え出来るよう、面白い！と判断したインターンのみを掲載しています。</p>
      <div class="col2Box">
      <div class="col2Box__left">
      <p class="col2Box__title">分野</p>
      <div class="col2Box__body">
      <p>広告／旅行／貿易／IT／教育／人材／金融／農業／会計／法律／アート／ファッション／美容／スポーツ／ホテル／不動産／飲食／新規事業立ち上げ／拠点立ち上げ etc…</p>
      </div>
      </div>
      <div class="col2Box__right">
      <p class="col2Box__title">インターン先</p>
      <div class="col2Box__body">
      <p>シンガポール／ベトナム／カンボジア／インドネシア／フィリピン／マレーシア／タイ／ミャンマー／中国／香港／台湾／スリランカ／インド／イスラエル／ドバイ／ウガンダ／ケニア／ガーナ／モロッコ／ルワンダ／タンザニア／パナマ／メキシコ／グアテマラ／ロシア／アイルランド／ドイツ／フィジー／オーストラリア／アメリカ etc…</p>
      <p class="note mt5">※インターン先は今後増加予定です。</p>
      </div>
      </div>
      </div>
      <p class="note bold">
        <a href="/internship/">海外インターンを見つける</a>
      </p>
      <h3 class="sectionBox__h3__type2">
        <span class="num">2</span>
        <span class="body">開始時期・期間自由、英語力・スキル不問！</span>
      </h3>
      <p>企業によって受け入れ条件は異なりますが、基本的にあなたのスケジュールに合わせて自分だけの海外インターンシップ計画を作成頂くことが可能です。また、大部分の企業が英語力・スキルより、インターンシップに取り組む姿勢・やる気を重視しています。
        <br>インターンシップの期間は、長ければ長い程、実績が出る可能性が高まり、任されることが多くなるため、1日でも長く行くことをお勧めしています。
      </p>
      <h3 class="sectionBox__h3__type2">
        <span class="num">3</span>
        <span class="body">エージェントというより、コミュニティ！</span>
      </h3>
      <p>海外インターンシップは基本的に個人で挑戦するものです。しかし、国や年齢、職種に関わらず、案外考えていること、悩んでいることは同じです。
        <br>
        <br>世界中で挑戦している仲間とオンライン上で繋がり、国境を越えてアドバイスし合い、新しいものを生み出す。タイガーモブでは出国前・滞在中・帰国後もこのコミュニティを通じて、Webとリアルの繋がりを持っています。この仲間たちが各分野のリーダーとなり、日本の未来を、世界の未来を創っていく。それがタイガーモブ（略してタイモブ！）のコミュニティです。
        <br>
        <br>タイモブのコミュニティでは、ウェブ上での情報交換を主としていますが、定期的に世界各国でインターン生や起業家、駐在員が集結する「タイモブ祭」というイベントも実施しています。
      </p>
      <div class="subBox">
      <p class="subBox__title">コミュニティ活用例</p>
      <ul>
        <li>● オンラインコミュニティでの自己紹介、相談、アドバイスをし合う</li>
        <li>● 世界各国の同じ境遇の仲間が何をしているのか刺激を受ける</li>
        <li>● 急遽、ベトナムからマレーシアに行くことになった場合に、実際に会って情報交換する</li>
        <li>● 帰国後、同時期にインターンに行っていた仲間同士が集結する等</li>
      </ul>
      </div>
      <h3 class="sectionBox__h3__type2">
        <span class="num">4</span>
        <span class="body">累計 1,400 名の送り出し実績をもち、海外経験が豊富なメンバー</span>
      </h3>
      <p>タイガーモブは、2013年に自らの海外経験や採用支援の経験をもとに代表菊地が立ち上げた海外インターン事業が前身となっています。創業時、約600名のインターン生を送り出した実績をもつ運営メンバーが”リーダーを創出したい”という想いをもとに新たに立ち上げたのがこのタイガーモブです。
        <br>
        <br>4,000人以上の方との面談、海外バックパッカー営業、インターンシップ受け入れ先の経営者の方との対面のコミュニケーションなどから、文章上の条件だけではなく、社風や経営者の方の性格、企業さまの今後の方針等を踏まえてあなたに合ったインターンシップを紹介することができます。
      </p>
      <p class="note fz14">※メンバーのプロフィールは、タイガーモブの
        <a href="/company/#anc2">メンバー紹介</a>をご覧ください。
      </p>
      <h3 class="sectionBox__h3__type2">
        <span class="num">5</span>
        <span class="body">24 時間・365 日体制の海外危機管理サポート</span>
      </h3>
      <p>タイガーモブでは、海外インターンシップに渡航する全ての皆様に、安全のため海外危機管理サポートにご加入頂いております。海外での病気や怪我に対する迅速な対応や、万が一の暴動やテロなど予測できない緊急事態に備え、24時間・365日体制の「海外危機管理サポート」を提供しています。</p>
      <p class="note">詳しくは24時間・365日体制の
        <a href="/support/">海外危機管理サポート</a>をご覧ください。
      </p>
      <div class="voiceBox">
      <p class="voiceBox__title">実際に聞いてみました！
        <br class="sp">タイモブ利用者の声
      </p>
      <ul class="voiceBox__wrap">
        <li>
          <p class="voiceBox__img">
            <img src="../img/feature/icon_brunei.png" alt="">
          </p>
          <div class="voiceBox__textBox">
          <p>興味のある国や業界のなかった私でも、今までの経験や大学で学んでいることを話したら良いインターン先とマッチングしてもらえました！災害やテロがあっても救援サポートがあるので、安心して挑戦できました！</p>
          <p class="bold">（ブルネイ現地旅行会社インターン経験者　K.Nさん）</p>
          </div>
        </li>
        <li>
          <p class="voiceBox__img">
            <img src="../img/feature/icon_thailand.png" alt="">
          </p>
          <div class="voiceBox__textBox">
          <p>サイト見て1分くらいで「よし、とりあえず電話しよう」と思いエントリーしました。タイモブで良かった点は、緊急時の対応が迅速かつ丁寧な点です。実際に僕の滞在中にバンコクで爆破テロ事件がありましたが、その際にスタッフの方が誰よりも早くそのニュースを僕に伝えてくれ、安全確保やテロの進捗状況に関する情報を提供してくれました。おかげでその後も安心して滞在することができました。</p>
          <p class="bold">（タイ日系ITスタートアップ企業インターン経験者　M.Wさん）</p>
          </div>
        </li>
        <li>
          <p class="voiceBox__img">
            <img src="../img/feature/icon_india.png" alt="">
          </p>
          <div class="voiceBox__textBox">
          <p>タイモブで海外インターンに行こう！と思った理由は、（１）一人ひとりの将来を本気で考えてくれる丁寧で粘り強く、且つ迅速な対応、（２）本人の性格ややりたいことをしっかりヒアリングしてそれを実現させてくれるような適切な企業の提案、（３）私のことを本気で『仲間』として見てくれたタイモブスタッフの存在、（４）インターン経験者との交流の場、（５）インターン後も続くコミュニティ、（６）生き方を尊敬できる人との出会いがあるからです。
            <br>タイモブに出会ってからはもうタイモブに出会う前の自分には戻れないし戻りたくないと思ってしまいますね(^^)　
          </p>
          <p class="bold">（インド海外研修プログラム経験者　S.Oさん）</p>
          </div>
        </li>
        <li>
          <p class="voiceBox__img">
            <img src="../img/feature/icon_kenya.png" alt="">
          </p>
          <div class="voiceBox__textBox">
          <p>アフリカ×水ビジネス。この二つのワードでインターン先を探していました。なかなか見つからない中、タイモブに相談し希望通りのインターン先を紹介してもらいました！インターンも結果として充実したものとなりました！</p>
          <p class="bold">（ケニア現地企業インターン経験者　T.Tさん）</p>
          </div>
        </li>
      </ul>
      </div>
      <div class="convBox">
      <p class="bold">会員登録して魅力的なインターン情報をGET！
        <br>登録後、各インターン・イベントへの
        <br class="sp">エントリーが可能となります。
      </p>
      <a href="/member/">新規会員登録（無料）</a>
      </div>
      <p class="note bold">
        <a href="/internship/">期間／国／やりたいことから海外インターンシップを見つけたい方はこちら</a>
      </p>
      <p class="note2 bold">
        <a href="/internship/consult/0" target="_blank">タイモブスタッフに相談して自分に合ったインターン先を見つけたい方はこちら</a>
      </p>
      </div>
    </section>
    <section class="sectionBox" id="anc2">
      <div class="sectionBox__inner">
      <h2 class="sectionBox__h2__type1">海外インターンシップのメリット</h2>
      <p class="sectionBox__img taC">
        <img class="pc" src="../img/feature/image_02.jpg" alt="">
        <img class="sp" src="../img/feature/image_02_sp.jpg" alt="">
      </p>
      <h3 class="sectionBox__h3__type1">海外インターンシップとは？</h3>
      <p>”海外インターンシップ”とは、海外の企業で一定期間、実践経験を積むことをいいます。会社の規模、分野も多種多様。数多くの企業がインターン生を迎え入れています。
        <br>
        <br>日本国内のインターンシップは”サマーインターン”を代表に1日&#12316;1週間程度の短期間が多く表面的と言われてますが、海外のインターンシップの場合は2週間&#12316;1年間と比較的長い期間、実践的なビジネスに携わることが出来るのが特長です。
      </p>
      <h3 class="sectionBox__h3__type1">注目されつつある新興国での海外インターンシップ</h3>
      <p>タイモブのインターンは大部分が新興国です。なぜ今新興国なのか、エネルギーや躍動感に溢れた新興国の状況を一部お伝えします。</p>
      <div class="stateBox">
      <ul class="stateBox__wrap">
        <li>
          <p class="stateBox__img">
            <img src="../img/feature/natioflag_india.png" alt="">
            <br>インド
          </p>
          <div class="stateBox__textBox">
          <p class="stateBox__textBox__title no01 bold">【インドの状況】</p>
          <p>Google、マイクロソフト、ドイツ銀行、マスターカード、ペプシ、そして日本ではソフトバンク等グローバル企業の経営幹部にインド出身者が抜擢。また、理系最高峰の大学であるインド工科大学（IIT）卒業生がイノベーションを起こそうとスタートアップを続々と起業しています。</p>
          </div>
        </li>
        <li>
          <p class="stateBox__img">
            <img src="../img/feature/natioflag_vietnam.png" alt="">
            <br>ベトナム
          </p>
          <div class="stateBox__textBox">
          <p class="stateBox__textBox__title no02 bold">【ベトナムの状況】</p>
          <p>三菱自動車、トヨタ自動車、スズキ、ダイハツ、味の素、花王、ワコール、松下電器、ソニー、東京海上日動、損保ジャパンなど、多くの日本企業が進出。勤勉で親日であるという国民性、そして若い労働力がある、という理由から大手日本企業のみならず、若手日本人起業家も次々とベトナムに進出しています。</p>
          </div>
        </li>
        <li>
          <p class="stateBox__img">
            <img src="../img/feature/natioflag_malaysia.png" alt="">
            <br>マレーシア
          </p>
          <div class="stateBox__textBox">
          <p class="stateBox__textBox__title no03 bold">【マレーシアの状況】</p>
          <p>まだまだ、進出・展開の可能性が大きいイスラム市場のマレーシア。「アセアンの優等生」と呼ばれるマレーシアは、シンガポールに次いで経済成長を遂げています。特に、高所得のムスリムが増えており、ハラルフードなど、イスラム市場の開拓に向けて世界各国から注目を浴びています。</p>
          </div>
        </li>
      </ul>
      </div>
      <p class="note">海外インターンシップというと、欧米でのインターンシップがイメージされますが、タイモブでは伸びているマーケットに身をおいてほしいという想いをもとにアジア新興国を中心にアフリカや南米等のインターンシップを提供しています。</p>
      <p class="note">海外というアウェイな環境で、語学やスキルの壁にぶつかりながらトライアンドエラーで実績を積む。海外インターンシップで得られることはたくさんありますが、下記いくつかメリットをあげます。</p>
      <div class="subBox">
      <p class="subBox__title">海外インターンシップのメリット</p>
      <ul>
        <li>● 成長マーケットに身を置き、国際企業の魅力や競争力を現場で体験する</li>
        <li>● グローバル・スタンダードを知る。価値観の異なる人々と働く事によって視野を広げる</li>
        <li>● なんとかする。やりきる。成功体験を積むことで自信をつける</li>
        <li>● 異国の同世代との出会い、各国で活躍する日本人との出会い、 海外ネットワークを形成する</li>
        <li>● 客観的に日本を見る、アイデンティティを持つ</li>
        <li>● 自分の力を試す。スキルやマインドを高める</li>
        <li>● 「海外で働く」とはどういうことか、リアルを知り、想像と現実のギャップを埋める</li>
      </ul>
      </div>
      <p class="note">企業の社風や事業内容によってインターンシップの内容や裁量権が異なるので、自分に合ったインターンシップを選ぶことが重要です。
        <br>
        <br>タイガーモブでは、自分がやりたいことや今やっていること、理想と現実のギャップを元に海外インターンシップでやるべきことを共に見出し、将来の夢に一歩近づくための海外インターンシップを実践して頂きます。
      </p>
      <div class="convBox">
      <p class="bold">会員登録して魅力的なインターン情報をGET！
        <br>登録後、各インターン・イベントへの
        <br class="sp">エントリーが可能となります。
      </p>
      <a href="/member/">新規会員登録（無料）</a>
      </div>
      <p class="note bold">
        <a href="/internship/">期間／国／やりたいことから海外インターンシップを見つけたい方はこちら</a>
      </p>
      <p class="note2 bold">
        <a href="/internship/consult/0" target="_blank">タイモブスタッフに相談して自分に合ったインターン先を見つけたい方はこちら</a>
      </p>
      </div>
    </section>
  </ul>
  </div>
</article>
</div>
<div id="yjSub">