<!--Main container-->
<div class="container all_top">

    <!--Grid row-->
    <div class="row">

        <!--Grid column-->
        <div class="col-md-12">
<h2><i class="fal fa-users"></i>メンバー紹介</h2>


        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->


  <!--Grid column-->

    <!--Grid row-->
    <div class="row">

        <!--Grid column-->

       <div class="col-lg-4 col-md-12">

        <!--Card-->
         <div class="member_card">

          <!--Card image-->
           <div class="view overlay">
             <img src="https://res-console.cloudinary.com/ho9upjx8x/thumbnails/v1/image/upload/v1552019283/bDJvZG4wYnl0YnJtaHhhY3htMmI=/grid" class="member_card-img" alt="" >
             <a href="#">
               <div class="mask rgba-white-slight"></div>
             </a>
           </div>

          <!--Card content-->
           <div class="card-body">
            <!--Title-->
             <h4 class="card-title">shima yuichi</h4>
            <!--Text-->
             <p class="card-text">
島 勇一</p>
           </div>

          </div>

        </div>
        <!--Grid row-->

       <div class="col-lg-4 col-md-12">

        <!--Card-->
         <div class="member_card">

          <!--Card image-->
           <div class="view overlay">
             <img src="https://res-console.cloudinary.com/ho9upjx8x/thumbnails/v1/image/upload/v1552275641/bWFzaF91cF9yb3V0aW5lL0lNR18wMTAw/grid" class="member_card-img" alt="" >
             <a href="#">
               <div class="mask rgba-white-slight"></div>
             </a>
           </div>

          <!--Card content-->
           <div class="card-body">
            <!--Title-->
             <h4 class="card-title">den hideki</h4>
            <!--Text-->
             <p class="card-text">田　英毅（デン　ヒデキ）</p>
           </div>

          </div>

        </div>

       <div class="col-lg-4 col-md-12">

        <!--Card-->
         <div class="member_card">

          <!--Card image-->
           <div class="view overlay">
             <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(72).jpg" class="member_card-img" alt="" >
             <a href="#">
               <div class="mask rgba-white-slight"></div>
             </a>
           </div>

          <!--Card content-->
           <div class="card-body">
            <!--Title-->
             <h4 class="card-title">oishi</h4>
            <!--Text-->
             <p class="card-text">尾石　隆行（オイシ　タカユキ）</p>
           </div>

          </div>

        </div>

   </div>
<!--Main container-->
 </div>