<!--Main container-->
<div class="container all_top">

    <!--Grid row-->
    <div class="row">

        <!--Grid column-->
        <div class="col-md-12">
<h2><i class="fal fa-users"></i>メンバー紹介</h2>


        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->


  <!--Grid column-->

    <!--Grid row-->
    <div class="row">

        <!--Grid column-->

       <div class="col-lg-4 col-md-12">

        <!--Card-->
         <div class="member_card">

          <!--Card image-->
           <div class="view overlay">
             <img src="https://res.cloudinary.com/ho9upjx8x/image/upload/v1551949543/wdxqdhwkauir4mcixojb.png" class="member_card-img" alt="" >
             <a href="#">
               <div class="mask rgba-white-slight"></div>
             </a>
           </div>

          <!--Card content-->
           <div class="card-body">
            <!--Title-->
             <h4 class="member_card-title">shima yuichi</h4>
            <!--Text-->
             <p class="member_card-text">
島 勇一(シマ ユウイチ)</p>
           <div class="member_card-text">
#MashUp発案者 #上智大4年 #武者修行→EMPAG→UNLOCK DESIGN #HIPHOPが好き</div>
           </div>

          </div>

        </div>
        <!--Grid row-->

       <div class="col-lg-4 col-md-12">

        <!--Card-->
         <div class="member_card">

          <!--Card image-->
             <div class="view overlay">
               <img src="https://res.cloudinary.com/ho9upjx8x/image/upload/v1552275641/mash_up_routine/IMG_0100.jpg" class="member_card-img" alt="" >
               <a href="#">
                 <div class="mask rgba-white-slight"></div>
               </a>
             </div>

            <!--Card content-->
             <div class="card-body">
              <!--Title-->
               <h4 class="member_card-title">den hideki</h4>
              <!--Text-->
               <p class="member_card-text">田　英毅（デン　ヒデキ）</p>
               <div class="member_card-text">
                 #MashUpサイト開発者 #テニス大好き #フィリピン語学留学→EMPAG #HIPHOPが好き
                </div>
             </div>
           </div>
        </div>

       <div class="col-lg-4 col-md-12">

        <!--Card-->
         <div class="member_card">

          <!--Card image-->
           <div class="view overlay">
             <img src="https://res.cloudinary.com/ho9upjx8x/image/upload/v1553017271/mash_up_routine/%E3%82%AF%E3%83%A9%E3%83%95%E3%82%A1%E3%83%B3%E7%94%A8%E3%81%AE%E5%86%99%E7%9C%9F_190320_0046.jpg" class="member_card-img" alt="" >
             <a href="#">
               <div class="mask rgba-white-slight"></div>
             </a>
           </div>

          <!--Card content-->
           <div class="card-body">
            <!--Title-->
             <h4 class="member_card-title">oishi takayuki</h4>
            <!--Text-->
             <p class="member_card-text">尾石　隆行（オイシ　タカユキ）</p>
           </div>

          </div>

        </div>

   </div>
<!--Main container-->
 </div>