<!--Main container-->
<div class="container">
<div class="all_top">
      <div class="container">
        <div class="row">
            <div class="col-md-12">
              <h2>
                <strong><i class="fal fa-people-carry"></i>Mash Upを一緒につくるメンバーを募集しています！</strong>
              </h2>
            </div>
        </div>
      </div>
      <div class="row">
               <div class="container all_shadow">
                  <h2 class="header_text">
                   <%= fa_icon("briefcase") %>募集ポジション
                  </h2>
                  <div class="main_contents">
                   <%= simple_format(@Recruitment_content) %>
                  </div>
                </div>

               <hr class="container my-5">

                <div class="container all_shadow">
                  <h2 class="header_text">
                   <%= fa_icon("envelope") %>応募方法
                  </h2>
                  <div class="main_contents">
                    <%= simple_format(@application_method) %>
                  </div>
                </div>
     </div>
<!--Main container-->
 </div>
 </div>