 <main class="mt-5">
<!--Main container-->
<div class="container">
<div class="row">
 <div class="col-md-12">
 </div>
</div>
    <!--Grid row-->
  <div class="row">
   <div class="white_block">
   </div>
   <div class="white_block">
   </div>
   インターン生記事は随時更新していく予定です。<br>
   またこのサイトに記事を載せたい方絶賛募集中なので書きたいと思った方はお問い合わせページよりお問い合わせの方よろしくお願いします。
  </div>
   <div class="white_block">
   </div>
   <div class="white_block">
   </div>
</div>
<!--Main container-->
</main>
<!--Main layout-->

