<div class="white_block">
</div>
 <main class="mt-5 all_top">
<!--Main container-->
<div class="container">
<div class="row">
 <div class="col-md-12">
 </div>
</div>
    <!--Grid row-->
  <div class="row">
   <div class="temporary_word">
     <div class="all_shadow">
       <h2 class="header_text">
         <%= fa_icon("exclamation-triangle") %>現在準備中です
       </h2>
      <div class="main_contents">
       インターン記事は随時更新していく予定です。<br>
       またこのサイトに記事を載せたい方絶賛募集中なので<br>書きたいと思った方は<a href="/inquirys">お問い合わせページ</a>よりお問い合わせの方よろしくお願いします。
      </div>
     </div>
   </div>
</div>
<!--Main container-->
</main>
<!--Main layout-->

