 <main class="mt-5 all_top">
<!--Main container-->
    <!--Grid row-->
      <%= render 'common/countryinfo.html.erb' %>
      </div>

     <div class="gray-content">
      </div>
<!--Main container-->

   <div class="gray-content">
      </div>

</main>
<!--Main layout-->

