<div id="main_cnt_wrapper">
    <div id="yjContentsBody">
      <div class="yjContainer">
        <span class="yjGuid"><a id="yjContentsStart" name="yjContentsStart"></a><img alt="ここから本文です" height="1" src="http://i.yimg.jp/yui/jp/tmpl/1.1.0/audionav.gif" width="1"></span>
        <div id="yjMain">
          <article class="section">
            <div class="container">
              <header class="header header--section">
                <h2 class="text-middle">
                  <i class="icon-movie color-gray-light"></i>新規ブログ
                </h2>
              </header>
              <ul class="thumbnails thumbnail--movies row grid3 js-lazy-load-images js-my-check-stats" id="list-module">
                <% @blogs.each do |blog| %>
                  <li class="col">
                    <a href="/blogs/<%= blog.id %>">
                     <div class="thumbnail__caption">
                      <h3 class="text-xsmall text-overflow" title="タイトル">
                        著者：<%= blog.user_name %>
                      </h3>
                    </div>
                    <div class="thumbnail__caption">
                      <h3 class="text-xsmall text-overflow" title="タイトル">
                        題名：<%= blog.body %>
                      </h3>
                    </div>
                    </a>
                  </li>
                <% end %>
              </ul>
            </div>
          </article>
        </div>
        <div id="yjSub">