 <main class="mt-5 all_top">
<!--Main container-->
    <!--Grid row-->
      <%= render 'common/countryinfo.html.erb' %>
      </div>

     <div class="gray-content">
      </div>

        <div class="container all_shadow">
           <div class="temporary_word">
               <h2 class="header_text">
                 <%= fa_icon("exclamation-triangle") %>他のコンテンツは現在準備中です
               </h2>
              <div class="word_contents">
               他のコンテンツは随時更新していく予定です。<br>
               またこのサイトに記事を載せたい方絶賛募集中なので<br>書きたいと思った方は<a href="/inquirys">お問い合わせページ</a>よりお問い合わせの方よろしくお願いします。
              </div>
           </div>
        </div>
<!--Main container-->

   <div class="gray-content">
      </div>

</main>
<!--Main layout-->

