<div class="container all_top">
    <!--Grid row-->
    <div class="row word_color">
        <div class="col-lg-9">
          <div class="container">
            <section id="best-features">
                <div class="recruit_content">
                   <div class="all_shadow">
                      <h2 class="header_text">
                       <%= fa_icon("plane") %><%= @country.name %>の生活費用情報
                      </h2>
                      <div class="main_contents">
                       東南アジアにおける代表的な工業国
タイのGDPは約3871億ドルであり、東南アジアではインドネシアに次ぐ経済規模です。
日本や欧米諸国の企業の工場進出が目立っており、併せて関税特典があるASEAN諸国内への輸出拠点として活用されています。
日産自動車、ホンダ、トヨタ、いすゞと言った自動車関連企業の多くがタイへ進出しているほか、空調メーカーであるダイキンといった家電メーカーなども多く進出し、国内市場への供給を行っています。,br> 2008年までに1300社近い日本企業が進出しており、2007年に日タイ経済協定（通称：JTEPA）が発効したことから、貿易のみならず、投資や政府調達など幅広い分野における経済関係の一層の強化が期待されています。



多宗教共生国

国民の95％が仏教徒のタイですが、イスラム教徒、キリスト教徒、シーク教徒、山岳民族などが共に暮らしている多民族・多宗教の国です。
一度も植民地化されたことがないので独自の文化を育んできており、タイのその独特な空気感は街を少し歩くだけで感じられます。
また「微笑みの国」としても知られているタイ。世論調査の結果89％ものタイ人が日本を友好国と考えていることがわかりました。
若年層の日本文化への関心も高く、安全面や衛生面への評価も高いのでインターン先にはオススメです。
                      </div>
                    </div>
                  </div>
            </section>
            <section id="best-features">
                <div class="recruit_content">
                   <div class="all_shadow">
                      <h2 class="header_text">
                       <%= fa_icon("plane") %>適当
                      </h2>
                      <div class="main_contents">
                        適当
                      </div>
                    </div>
                  </div>
            </section>
         </div>
        </div>
        <!--Grid column-->
     <%= render 'common/side.html.erb' %>
    </div>
  <!--Grid row-->
   </div>
  <!--Main container-->