/*content系*/

.show_contents{
  margin-top: 10px;
  margin-bottom: 20px;
}

.word_contents{
  margin:20px;
}

.sm_top{
  margin-top: 10px;
}


.all_shadow{
  background: #FFF;/*背景色*/
  padding: 25px;
  text-decoration :none;
  box-shadow: 0 3px 6px rgba(0,0,0,0.2);
  border-radius: 2px;
  transition: .3s;
}


.card_side{
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);/*影*/
  border-radius: 0rem;
}

.card_side:hover{
   -webkit-box-shadow: 0 4px 2px -2px #777;
      -moz-box-shadow: 0 4px 2px -2px #777;
           box-shadow: 0 4px 2px -2px #777;
}

.card_side-body a {
  text-decoration: none;
}

.search_side a {
  text-decoration: none;
}

.card_side-img-top span{
  position: absolute;
}

.media-card_side_table{
  width: 100%;
}

.card_side_C_name{
 text-align: center;
 border-top: solid 1px #9e9e9e;
 border-bottom: solid 1px #9e9e9e;
 font-size: 10px;
}

.card_side_C_name th {
  background-color: #4267b2;
  color: white;
  padding: 5px;
  width: 80px;
}

.card_side_C_priod{
  text-align: center;
  border-bottom: solid 1px #9e9e9e;
  font-size: 10px;
}

.card_side_C_priod th {
  background-color: #4267b2;
  color: white;
  padding: 5px;
}


.sub_pic span{
  opacity: 0.85;
  background-color: #5d7fb9;
  font-weight:bold;
  color: #FFF;
  position: absolute;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);/*影*/
  padding: 8px;
  top: 5px;
  left: 5px;
}

.card-title{
  font-size: 17px;
  line-height: 1.0em
}
