// Place all the styles related to the countries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.countory_header_text{
  padding: 0.25em 0.5em;/*上下 左右の余白*/
  color: #494949;/*文字色*/
  background: transparent;/*背景透明に*/
  border-left: solid 5px #7db4e6;/*左線*/
  margin-top: 0.5em;
  font-size: 30px;
}

.countory_item{
  display: inline-block;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 10px;
}
.countory_item:nth-child(1){
  width: 150px;
  font-size: 22px;
  font-weight:bold;
  color: #333333;
}
.countory_item:nth-child(2){
  width: 100%;
  font-size: 14px;
}

@media only screen and (min-width: 1500px) {
  .countory_pic {
    height: 800px;
  }
}

/* タブレット用のCSS */
@media only screen and (min-width : 768px) and (max-width : 1200px) {
  .countory_pic {
    height: 500px;
  }
  .countory_header_text{
    font-size: 26px;
  }
}

/* スマホ用のCSS */
@media only screen and (max-width: 479px) {
  .countory_pic {
    height: 300px;
  }
   .countory_header_text{
    font-size: 24px;
  }
}