// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*jqueryでの検索時のcss*/
.is-hide {
    display: none;
}


/*タイトル部分のcss*/
.searchBox__h2{
	  position: relative;
    display: inline-block;
    text-decoration: none;
    vertical-align: middle;
    font-size: 40px;
    color: black;
    transition: .4s;
    font-weight: bold;
}

/*チェックボックスのcss*/
.searchBox__refine__check{
  margin: 20px;
}

.searchBox__refine__check > li{
  display: inline-block;
  /*margin: 8px;*/
  font-weight: bold;
}

/*マウスホバー時のcss*/
.searchBox_block:hover{
   background-color: #67c5ff;

}

.searchBox_block{
  margin: 0px auto;
  width: 180px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
  height: 60px;
  float: left;
  text-align: center;
}

.label{
    text-align: center;
    padding: 18px;
    display: inline-block;
    color: black;
}

.check_box{
  display: none;
}

.searchBox__refine__check > li{
  display: inline-block;
  margin: 10px;
  font-weight: bold;
}


/*.searchBox__refine__tit{
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #00BCD4;
    background: #ECECEC;
    border-radius: 0 15px 15px 0;
    transition: .4s;
}*/

/*.searchBox__bt{
	padding: 0.3em 1em;
    text-decoration: none;
    color: #67c5ff;
    border: solid 2px #67c5ff;
    border-radius: 3px;
    transition: .4s;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}*/


/*会社カードのデザイン*/
.card {
  width: 100%;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
  height: 300px;
 /* float: left;*/
  margin: 20px 0px 20px 0px;
    
}

.card:hover{
 box-shadow: 0 0 10px gray;
 transition-duration: 0.5s;
}

.card-text {
  color: #777;
  font-size: 14px;
  line-height: 1.5;
}

.card-title {
  font-size: 15px;
  margin-bottom: 10px;
  text-align: center;
  color: #333;
}

.card-img {
  border-radius: 5px 5px 0 0;
  max-width: 100%;
  height: 150px;

}

.div.view.overlay span{/*文字*/
     position: absolute;
     top: 0;
     right: 0;
     /*以下装飾*/
     color: white;
     background: #74c1f8;
     padding:0 2px;
     line-height:1.5em;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto{
  padding-right: 0px;
  padding-left: 0px;
}

.text-last{
  font-size: 20px;
}

/*facebook投稿ボタン*/

.share_btn2{
    display: inline-block;
    text-decoration: none;
    width: 50px;
  margin:2px;
    height: 50px;
    line-height: 50px;
    font-size: 23px;
  color:white;
    border-radius: 12px;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    font-weight: bold;
    transition: .3s;
    margin:0 5px 0 5px;
}
.share_btn2 .fa {line-height:50px}
.share_btn2:hover{
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
}
.share_btn2.shtw {background: #22b8ff;}
.share_btn2.shfb {background: #6680d8;}
.share_btn2.shhtb {background: #49a8fb;}
.share_btn2.shpkt {background: #ff6d82;}
.share_btn2.shfdly {background: #7bda72;}
.share_btn2.shgp {background: #fd6969;}



/*一覧ページに戻るボタン*/
.return_button{
  position: absolute;
  top: 140px;
  display: inline-block;
  color: black;/*文字色*/
  font-size: 1em;/*文字サイズ*/
  letter-spacing: 0.05em;/*字間*/
  padding: 0.5em 1.5em;/*ボタン内の余白*/
  border-radius: 3px;/*角の丸み*/
  cursor: pointer;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);/*影*/
  -webkit-tap-highlight-color: transparent;
  transition: .3s ease-out;/*変化を緩やかに*/
}





/*会社記事詳細情報ゾーン*/
.head_line{
  color: black;/*文字色*/
  padding: 0.5em 0;/*上下の余白*/
  border-top: solid 3px #364e96;/*上線*/
  border-bottom: solid 3px #364e96;/*下線*/
}

.main_section{
  position: relative;
  padding: 20px;
  background-color: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 1px 1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 1px 1px;
}

.sub_section{
  position: relative;
  padding: 20px;
  background-color: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 1px 1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 1px 1px;
  width: 150px;
}

.yj950-2 #yjMain_sub {
  float: left;
  width: 700px;
  margin-top: 200px;
  /*margin-right: 100px;*/
  z-index: 1;
}


.yj950-2 .sub_yjContainer {
  width: 1150px;
  margin: 0 auto;
  padding: 0 10px;
}

.yj950-2 .sub_yjContainer:before, .yj950-2 .sub_yjContainer:after {
  content: "";
  display: table
}


.yj950-2 .sub_yjContainer:after {
  clear: both
}


.header_text{
padding: 0.5em;/*文字周りの余白*/
color: #010101;/*文字色*/
background: #eaf3ff;/*背景色*/
border-bottom: solid 3px #516ab6;/*下線*/
text-align: left;
font-size: 24px;
}


.detail_info {
  /*padding: 0.5em;*//*文字周りの余白*/
  border-bottom: solid 1px #516ab6;/*下線*/
}

.item{
  display: inline-block;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.item:nth-child(1){
  width: 250px;
  font-weight:bold;
  font-size: 18px;
}
.item:nth-child(2){
/*margin-left: 50px;*/
width: 250px;
font-size: 14px;
/*text-align: center;*/
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    background-color: #67c5ff;
}

.indigo{
  background-color: #67c5ff;
}

footer{
  color: #fff;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.top-nav-collapse {
  background-color: #24355C;
}


.white_block{
  height: 100px;
}
