// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.all_top{
  padding-top: 100px;
}


.search_sp{
 display: none;
}

body{
 background-color:  #f2f4f8;
}


/*jqueryでの検索時のcss*/
.is-hide {
    display: none;
}


/*マウスホバー時のcss*/
.searchBox_block:hover{
   background-color: #67c5ff;
}

.searchBox_block{
  margin: 0px auto;
  width: 180px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
  height: 60px;
  float: left;
  text-align: center;
}

.label{
    text-align: center;
    padding: 18px;
    display: inline-block;
    color: black;
}

.check_box{
  display: none;
}

.searchBox__refine__check > li{
  display: inline-block;
  margin: 10px;
  font-weight: bold;
}


.search a{
  color: black;
}

/*マウスホバー時検索モーダルのcss*/

/*.searchBox_block_sp:hover{
   background-color: #67c5ff;
}*/

.searchBox_block_sp{
  margin: 0px auto;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
  height: 40px;
  float: left;
  text-align: center;
}

.label_sp{
    text-align: center;
    padding: 10px;
    display: inline-block;
    color: black;
}

.blue_zone{
  height: 40px;
  width: 30px;
}

.check_box{
  display: none;
}

.searchBox__refine__check_sp > li{
  display: inline-block;
  font-weight: bold;
}

.search_sp a{
  color: black;
}

/*モーダル内のCSS*/
.boder-countory{
  border-bottom:black; 
}



/*会社カードのデザイン*/

.card{
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);/*影*/
  border-radius: 0rem;
}

.card:hover{
   -webkit-box-shadow: 0 4px 2px -2px #777;
      -moz-box-shadow: 0 4px 2px -2px #777;
           box-shadow: 0 4px 2px -2px #777;
}

.card-body a {
  text-decoration: none;
}

.search a {
  text-decoration: none;
}

.card-img-top span{
  position: absolute;
}

.media-card_table{
  width: 100%;
}

.card_C_name{
 text-align: center;
 border-top: solid 1px #9e9e9e;
 border-bottom: solid 1px #9e9e9e;
}

.card_C_name td{
 font-size: 12px;
}


.card_C_name th {
  background-color: #4267b2;
  color: white;
  padding: 5px;
  width: 80px;
  font-size: 10px;
}

.card_C_priod{
  text-align: center;
  border-bottom: solid 1px #9e9e9e;
  font-size: 10px;
}

.card_C_priod th {
  background-color: #4267b2;
  color: white;
  padding: 5px;
}
.sub_pic span{
  position: absolute;
  background-color: #4267b2;
  padding: 8px;
  color: #FFF;
  top: 5px;
  left: 5px;
}

.top20{
  margin-top: 20px;
}

.top100{
  margin-top: 100px;
}

.tag_zone_index{
 display: inline-block;
 text-decoration: none;
 color: #4267b2;
 border: solid 2px #4267b2;
    border-radius: 5px;
    font-size: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 5px;
}

.tag_zone_index a{
  color: #9e9e9e;
}






/*会社記事詳細情報ゾーン*/
.main_contents{
  margin-top: 10px;
}

.show_border{
  /* margin-bottom: 50px;*/
   border: 2px solid #FFF;
   -webkit-box-shadow: 0 4px 2px -2px #777;
       -moz-box-shadow: 0 4px 2px -2px #777;
            box-shadow: 0 4px 2px -2px #777;
}

.shadow{
    -webkit-box-shadow: 0 4px 2px -2px #777;
       -moz-box-shadow: 0 4px 2px -2px #777;
            box-shadow: 0 4px 2px -2px #777;
}

.white-content{
  background-color: #FFF;
  box-shadow: 0 3px 6px rgba(0,0,0,0.2);
}

.gray-content{
  height: 25px;
  text-decoration :none;
}

.content_box{
  padding:5px 10px;
  text-decoration :none;
  border-radius: 2px;
  transition: .3s;
}


.head_line{
  position: relative;
  padding: .25em 0 .5em .75em;
  border-left: 6px solid #4267b2;
  font-size: 22px;
  color: black;
}

.head_line:after{
 position: absolute;
  left: 0;
  bottom: 0;
  content: '';
  width: 100%;
  height: 0;
  border-bottom: 1px solid #ccc;
}

.header_text{
  color: #4267b2;/*文字色*/
  background: #FFF;/*背景色*/
  text-align: left;
  font-size: 28px;
  font-weight:bold;
  /*box-shadow: 0 3px 6px rgba(0,0,0,0.2);*/
  /*以下色とかの装飾*/
  padding: 25px;
  color: #494949;/*文字色*/
  background: transparent;/*背景透明に*/
  border-left: solid 5px #7db4e6;/*左線*/
  margin-top: 0.5em;
}

@media only screen and (min-width: 1500px) {
  .header_text {
   font-size: 28px;
  }
  .head_line{
   font-size: 22px;
  }
}

/* タブレット用のCSS */
@media only screen and (min-width : 768px) and (max-width : 1200px) {
  .header_text {
   font-size: 22px;
  }
  .head_line{
   font-size: 20px;
  }
}

/* スマホ用のCSS */
@media only screen and (max-width: 479px) {
  .header_text {
   font-size: 18px;
  }
  .head_line{
   font-size: 18px;
  }
}

.flag_sign {
    padding: 0.5em 1.0em;
    margin:  0.4em 0.8em;
    font-weight: bold;
    border: solid 3px #FF4F50;
    text-align: center;
}
.flag_sign p {
    margin: 0;
    padding: 0.5em 1.0em;
    color: #FF4F50;
    font-size: 25px;
}




/*会社情報の詳細ページ*/

.detail_info {
  border-bottom: solid 1px #516ab6;/*下線*/
}

.item{
  display: inline-block;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.item:nth-child(1){
  width: 220px;
  font-size: 16px;
}
.item:nth-child(2){
  width: 220px;
  font-size: 14px;
  font-weight:bold;
  color: #333333;
}






/*メニューバーコンテンツ*/
.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    background-color: #4267b2;
}

.indigo{
  background-color: #4267b2;
}

.nav-item:hover{
  background-color: rgba(255, 255, 255, .2);
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.top-nav-collapse {
  background-color: #24355C;
}


.white_block{
  height: 100px;
}

.margin_menu{
  margin-right: 10px;
  margin-left: 10px;
}






/*footerコンテンツ*/
footer{
  color: #fff;
}

.list-item a{
  color: #FFF;
  font-size: 14px;
  text-decoration:none;
}

.list-item a:hover{
  border-bottom: dashed 2px #9e9e9e;
}

.footer_title{
  color: #fff;/*文字色*/
  border-bottom: dashed 2px #9e9e9e;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.member_btn{
  background-color: #FF4F50;
  padding: 0.5em 1em;
  color: #FFF;
  border-radius: 3px;
  width: 80%;
}

.member_btn:hover{
  background-color: #FFF;
  padding: 0.5em 1em;
  color: black;
  border-radius: 3px;
}

.member_btn:active {/*ボタンを押したとき*/
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
    border-bottom: none;
}




/*サイドビューに対してのcss*/
.margin20{
  margin: 20px;
}

.word_color{
  color: #555555  ;
}





/*記事投稿者のためのcss*/
.sm_black{
  color: black;
  font-size: 18px;
  font-weight:bold;
}
.bold{
  font-weight:bold;
}

.bi_black{
  font-weight:bold;
  color: black;
  font-size: 25px;
  margin: 5px;
}

.content_pic{
  width: 730px;
  height: 335px;
}

.create_pic{
  margin-top: 30px;
}







/*パンくずCSS*/
/*.breadcrumb{
  position: absolute;
  top: 55px;
  left: 140px;
  background-color: #f2f4f8;
  color: #9e9e9e;
}

.breadcrumb a{
  color: #9e9e9e;
  margin: 12px;
  font-size: 14px;
  text-decoration: none;
}

.white-back{
  background-color: #FFF;
}*/





/*タグのCSS*/

.tag_zone{
  display: inline-block;
  float: right;
}

.border_bottom{
  border-bottom: solid 2px #9e9e9e;
  padding-bottom: 5px;
  margin-bottom: 20px;
}

.tag_zone{
    font-size: 12px;
    display: inline-block;
    padding: 0.1em 0.1em;
    text-decoration: none;
    color: #4267b2;
    border: solid 2px #4267b2;
    border-radius: 20px;
    transition: .4s;
    margin: 5px;
}

.tag_zone a{
  color: black;
  font-weight:bold;
}

.show_tabs a{
  color: black;
}

.show_bottom{
    padding: 0.8em 1.5em;
    text-decoration: none;
    border: solid 5px #4267b2;
    /*border-radius: 10px;*/
    transition: .4s;
    margin: 10px;
    font-size: 24px;
    font-weight: 900;
    width: 390px;
    text-align: center;
}

.show_bottom:hover{
  background: #4267b2;
}

/*検索モーダルのcss*/
.sp_model_bottom{
    padding: 0.5em 1.0em;
    text-decoration: none;
    border: solid 5px #4267b2;
    /*border-radius: 10px;*/
    transition: .4s;
    font-size: 20px;
    font-weight: 900;
}

.sp_model_bottom:hover{
  background: #4267b2;
  color: #FFF;
}


/*モーダルのcss*/
.model_bottom{
    padding: 0.8em 1.5em;
    text-decoration: none;
    border: solid 5px #4267b2;
    /*border-radius: 10px;*/
    transition: .4s;
    margin: 10px;
    font-size: 20px;
    font-weight: 900;
}

.model_bottom:hover{
  background: #4267b2;
  color: #FFF;
}

.con_img{
  width: 110px;
  height: 100px;
}
.con_text{
   font-size: 14px;
}
