// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.text-middle{
	position: relative;
    display: inline-block;
    text-decoration: none;
    padding: 0 30px;
    font-size: 19px;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    background: #51587b;
    font-size: 20px;
    color: rgb(255, 255, 255);
    transition: .4s;
}

.member_card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    width: 300px;
    margin: 20px;
}

.member_card-img{
    height: 300px;
    width: 100%;
}