// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mask{
  height: 100%;
}
/*homeのcss*/
#intro {
    background: url("https://res.cloudinary.com/ho9upjx8x/image/upload/v1550732852/mash_up_routine/colorful-1974699_1920.png")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #FFF;
    height: 500px;
}

.risize_arrow{
  text-align: center;
  font-size: 70px;
}

.decision_process{
  background-color: #f2f4f8;
}


.rgba-black-strong, .rgba-black-strong:after {
    background-color: rgba(0,0,0,.7);
    padding-top: 100px;
}


.text-middle{
	position: relative;
    display: inline-block;
    text-decoration: none;
    padding: 0 30px;
    font-size: 19px;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    background: #51587b;
    font-size: 20px;
    color: rgb(255, 255, 255);
    transition: .4s;
}

.member_card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    width: 300px;
    margin: 20px;
}

.member_card-img{
    height: 300px;
    width: 100%;
}

.header_text{
  padding: 0.5em;/*文字周りの余白*/
  color: #4267b2;/*文字色*/
  border-bottom: solid 3px #516ab6;/*下線*/
  text-align: left;
  font-size: 24px;
  font-weight:bold;
  position: relative;/*fixedの場合もありますね*/
  box-shadow: 0 3px 6px rgba(0,0,0,0.2);
  /*以下色とかの装飾*/
  padding: 30px;
}

.all_shadow{
  background: #FFF;/*背景色*/
  padding:5px 10px;
  text-decoration :none;
  box-shadow: 0 2px 2px rgba(0,0,0,0.2), 0 -4px 5px -2px #6d95ce inset;
  border-radius: 2px;
  transition: .3s;
}

.recruit_content{
  padding-bottom: 50px;
  background-color: #f2f4f8;
}