<main class="mt-5">
  <!--Main container-->
  <div class="container">
  <!--Grid row-->
 <div class="row">
	<div class="col-md-12">
	  <img src="https://png.pngtree.com/png_detail/18/09/10/pngtree-single-bow-png-clipart_3335591.jpg">
	</div>
 </div>
<p>
  お問い合わせいただきありがとうございました。
  お問い合わせ内容につきましては2~3営業日を頂きましてから返信させて頂きたいと思います。
</p>
</div>