<!DOCTYPE html>
<html class="pc" lang="ja" xmlns:fb="http://ogp.me/ns/fb#" xmlns:og="http://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
      <title>Mash Up</title>
      <link href='http://fonts.googleapis.com/css?family=Signika:700,300,400,600' rel='stylesheet' type='text/css'>
       <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
       <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
      <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
       <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
      <%= csrf_meta_tags %>
    </meta>
  </head>
  <body >
    <header>
<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">

  <!-- Additional container -->
  <div class="container">

    <!-- Navbar brand -->
    <a class="navbar-brand" href="/">Mash Up</a>

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
      aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">

      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">海外インターンを見つける
            <span class="sr-only">(current)</span>
          </a>
        </li>
         <li class="nav-item active">
          <a class="nav-link" href="/blogs">インターンブログを読む
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/static_pages/about">Mash Upとは？</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/inquirys">お問い合わせ</a>
        </li>
      </ul>
      <!-- Links -->

      <form class="form-inline">
        <div class="md-form my-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        </div>
      </form>
    </div>
    <!-- Collapsible content -->

  </div>
  <!-- Additional container -->

</nav>
<div class="white_block">
</div>
        <%= yield %>
<footer class="page-footer font-small indigo pt-4 mt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">Footer Content</h5>
        <p>海外インターンシップ、
海外インターンコミュニティは
Mash Up</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

          <ul class="list-unstyled">
            <li>
              <a href="/">海外インターンを見つける</a>
            </li>
            <li>
              <a href="/static_pages/member">メンバー紹介</a>
            </li>
             <li>
              <a href="/">インターンブログを読む</a>
            </li>
            <li>
              <a href="/static_pages/about">Mash Upとは？</a>
            </li>
            <li>
              <a href="/inquirys">お問い合わせ</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

        <div class="col-md-3 mb-md-0 mb-3">
          <a class="btn btn-danger btn-lg " href="/static_pages/member_recruit" role="button">メンバーを募集しています</a>
        </div>

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->
  <div class="container">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
     Mash Up Corporation. All Rights Reserved.
  </div>
  <!-- Copyright -->

</footer>
  </body>
</html>